<div class="media">
  <div class="media-left  media-top">
    <a class="media-object" href="{{ url_for('main.user', username=post.author.username) }}">
      <img class="img-rounded" src="{{ post.author.avatar(70) }}" />
    </a>
  </div>
  <div class="media-body">
    <div class="media-heading media-top">
      {% set user_link %}
      <span class="user_popup">
        <a href="{{ url_for('main.user', username=post.author.username) }}">
          <strong>{{ post.author.username }}</strong>
        </a>
      </span>
      {% endset %}
      {{ _('%(username)s said %(when)s',
                          username=user_link, when=moment(post.timestamp).fromNow()) }}
    </div>
    <div>
      <p class="p-3" id="post{{ post.id }}">{{ post.body }}</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col col-sm-2">
          <p>
            <button
              id="down-{{ post.id }}"
              data-pid="{{ post.id }}"
              type="button"
              class="btn btn-default btn-xs down-vote"
            >
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <span>{{ post.downvotes or 0}}</span>
            </button>

            <button id="up-{{ post.id }}" data-pid="{{ post.id }}" type="button" class="btn btn-default btn-xs up-vote">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <span>{{ post.upvotes or 0}}</span>
            </button>
          </p>
        </div>
        <div class="col col-sm-10">
          {% if post.language and post.language != g.locale %}
          <p id="translation{{ post.id }}">
            <a
              class="btn btn-default btn-sm"
              href="javascript:translate(
                                                    '#post{{ post.id }}',
                                                    '#translation{{ post.id }}',
                                                    '{{ post.language }}',
                                                    '{{ g.locale }}');"
              >{{ _("Translate") }}</a
            >
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
