
{% extends "base.html" %} 

{% block content %}
<h1>All Users</h1>
<hr />
<table>
    <tr align="center">
        <th>Avatar</th>
        <th>UserId</td>
        <th>UserName</th>
        <th>Email</th>
        <th>About</th>
        <th>Followed</th>
    </tr>
    {% for user in users %}
    <tr align="center">
        <td><img src="{{ user.avatar(36) }}" /></td>
        <td>{{ user.id }}</td>
        <td><a href={{url_for('main.user', username=user.username)}}>{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{user.about_me or ""}}</td>
        <td>{{current_user.is_following(user) and "Yes" or "No"}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
